@charset "utf-8";
*{ margin:auto;}
.tong{
	width: 600px;
	height:300px;
	border: 1px solid black;
	box-shadow: 5px 5px 5px #1DED6F;  
	list-style-type: square;
}
.nen
{
	color:#1DED6F;
	text-align: center;	
}
.dep{
	background: #3AD11C;
}
.trong{
	width: 600px;
	height: 50px;
	background:#3AD11C; 
	float: right;
	color: #97270E;
}
.trong ul li{
	text-align: center;
	display: inline;
	padding-left: 45px;
	padding-right: 20px;
}